.git
.venv
__pycache__
*.py[cod]
.pytest_cache
config
logs
data/bots
data/temp
data/user_identity
data/plugin_data
data/resource
data/plugins/*
!data/plugins/rocketcat_plugin_adapt_iamthinking/
!data/plugins/rocketcat_plugin_adapt_iamthinking/**
!data/plugins/rocketcat_plugin_built_in_command/
!data/plugins/rocketcat_plugin_built_in_command/**
