.venv/
.env
.env.*
!.env.example
config/
logs/
tests/
data/bots/
data/temp/
data/plugin_data/
data/resource/
data/user_identity/
data/plugins/*
!data/plugins/rocketcat_plugin_adapt_iamthinking/
!data/plugins/rocketcat_plugin_adapt_iamthinking/**
!data/plugins/rocketcat_plugin_built_in_command/
!data/plugins/rocketcat_plugin_built_in_command/**
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
build/
dist/
.idea/
.vscode/
*.log
*.db
*.sqlite
*.sqlite3
*.pid
*.lock
*.bak
*.tmp
*.zip
.DS_Store
Thumbs.db
